@import 'helpers';

$fenix-blue:             #1F3064;
$font-color:	         #1f3064;
$font-color-input:       #f5a04c;
$warning-color:          #c44640;
$success-color:          #667092;
$text-color:             #FFFFFF;
$secondary-color:        #526AB4;
$fenix-orange:           #F5A04C;
$input-background-color: #FFFFFF;
$text-color-secondary:   #B8BBC6;

body {
  // text-align: center;
  width: 100%;
  height: 100%;
}

header {
    width: 100%;
    height: 3.5em;
    background-color: #FFF;
    top: 0;
    position: absolute;
    z-index: 13;
}

header {
	& > section {
		width: 80%;
	}
	& > section span {
		// width: 95%;
		overflow: hidden;
		padding-right: 0.1em;
	}
	& > section span input {
		width: 100%;
	}
	& button {
		float: right;
	}
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 95%;
}
tr {
  border: 1px solid black;

}
td {
/*   border: 1px solid black; */
  display: inline-block;
}

span {
	// white-space: pre-line;
}

#items-list {
	width: 200%;
	height: 100%;
	background-color: $fenix-blue;
}

.easy-autocomplete-container .eac-item {
	// display: inline;
}